{% extends "main/base.html" %}
{% block title %}Cart{% endblock title %}
{% block content %}
<h1 class="cart-heading">Cart</h1>
<table class="cart-table">
    <tr class="heading-row">
        <th class="heading">
            Sn
        </th>
        <th class="heading">
            Product Name
        </th>
        <th class="heading">
            Product Price
        </th>
        <th class="heading">
            Product Quantity
        </th>
        <th class="heading">
            Total Price
        </th>
    </tr>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
{% endblock content %}