{% extends "main/base.html" %}
{% block content %}
<div class="grid-layout">
    <div class="grid-item">
        <img src="image.png" alt="product1" class="p_pitc" />

        <h1 class="title">
        product title    
        </h1>
        <h5 class="productprice">
            44
        </h5>
        <h5 class="quantity">
            99
        </h5>
        <p class="discription">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem et quam voluptas sunt laboriosam magnam totam autem cupiditate repellat. Alias debitis eum enim autem tempore aspernatur nulla aliquam sunt, magni et dolore modi incidunt quo fugit, vel neque unde ex.
        </p>
    </div>
</div>

{% endblock content %}